<!-- <!DOCTYPE html> -->
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Music Controller</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    </head>
    
    <body>
        <nav>
            <a href="/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Apple_Music_icon.svg">
            </a>
            <div class="nav-right">
                <a href="/">Home</a>
                <a href="/create">Create</a>
                <a href="/join">Join</a>
            </div>
        </nav>
        <main>
            <div id="main">
                <div id='app'>
                </div>
            </div>
        </main>
        <footer>
            <p>Author: Hege Refsnes<br>
            <a href="mailto:hege@example.com">hege@example.com</a></p>
        </footer>
        <script src="{% static 'frontend/main.js' %}"></script>
    </body> 
</html>